body {
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  color: #515956;
  background: #fff;
}

.modal-open {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
