<section class="analytics">
  <div class="culture-and-values__wrap-all analytics__wrap content">
    <p class="text culture-and-values__text">
      Связаться с нами
    </p>

    <div class="culture-and-values__form-wrap">
      <form class="form culture-and-values__form">
        <div class="form__input-wrap form__input-1">
          <span class="form__smsll-text">
            Ваше Имя*
          </span>
          <input type="text" class="form__input">
        </div>

        <div class="form__input-wrap form__input-2">
          <span class="form__smsll-text">
            Электронная почта*
          </span>
          <input type="text" class="form__input">
        </div>


        <div class="form__input-wrap form__input-3">
          <span class="form__smsll-text">
            Ваша Фамилия*
          </span>
          <input type="text" class="form__input">
        </div>

        <div class="form__input-wrap form__input-4">
          <span class="form__smsll-text">
            Номер Телефона*
          </span>
          <input type="text" class="form__input">
        </div>

        <div class="form__input-wrap form__input-5">
          <span class="form__smsll-text">
            Текст сообщения*
          </span>
          <textarea class="form__input form__textarea" cols="30" rows="10"></textarea>
        </div>

        <span class="form__smsll-text form__smsll-reqire">
          *Обязательные поля
        </span>
      </form>
    </div>

    <div class="purpose__btn-wrap culture-and-values__btn">
      <button class="btn purpose__btn">
        Отправить
      </button>
    </div>
  </div>
</section>
