<footer class="footer">
  <section class="footer__main-links">
    <div class="footer__links-main-wrap content">
      <div class="footer__main-item">
        <div class="footer__main-links-list">
          <h3 class="footer__main-lin-title">
            Быстрые ссылки
          </h3>

          <ul class="footer__main-lin-list">
            <li class="footer__main-lin-it">
              <a href="#" class="footer__main-lin-href">
                Главная
              </a>
            </li>

            <li class="footer__main-lin-it">
              <a href="#" class="footer__main-lin-href">
                О нас
              </a>
            </li>

            <li class="footer__main-lin-it">
              <a href="#" class="footer__main-lin-href">
                Наши решения
              </a>
            </li>

            <li class="footer__main-lin-it">
              <a href="#" class="footer__main-lin-href">
                Наша культура и ценности
              </a>
            </li>

            <li class="footer__main-lin-it">
              <a href="#" class="footer__main-lin-href">
                Ответственно инвестирование
              </a>
            </li>

            <li class="footer__main-lin-it">
              <a href="#" class="footer__main-lin-href">
                Наши исследования
              </a>
            </li>

            <li class="footer__main-lin-it">
              <a href="#" class="footer__main-lin-href">
                Новости
              </a>
            </li>

            <li class="footer__main-lin-it">
              <a href="#" class="footer__main-lin-href">
                Контакы
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__main-item">
        <h3 class="footer__main-lin-title">
          Контактная информация
        </h3>

        <ul class="footer__main-lin-list">
          <li class="footer__main-lin-it">
            <p href="#" class="footer__main-lin-href">
              Адрес: текст, текст, текст, текст, текст, текст,текст, текст, текст, текст.
            </p>
          </li>

          <li class="footer__main-lin-it">
            <a href="tel:+7(000)000-00-00" class="footer__main-lin-href">
              +7(000)000-00-00
            </a>
          </li>

          <li class="footer__main-lin-it">
            <a href="mailto:example@gmai.com" class="footer__main-lin-href">
              example@gmai.com
            </a>
          </li>
        </ul>

        <ul class="footer__trust-list">
          <li class="footer__trust-item">
            <img src="./img/ic1.png" alt="ic" class="footer__trust-img">
          </li>

          <li class="footer__trust-item">
            <img src="./img/ic2.png" alt="ic" class="footer__trust-img">
          </li>

          <li class="footer__trust-item">
            <img src="./img/ic3.png" alt="ic" class="footer__trust-img">
          </li>

          <li class="footer__trust-item">
            <img src="./img/ic4.png" alt="ic" class="footer__trust-img">
          </li>

          <li class="footer__trust-item">
            <img src="./img/ic5.png" alt="ic" class="footer__trust-img">
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="footer__sub-links">
    <div class="footer__links-sub-wrap content">
      <ul class="footer__sub-list">
        <li class="footer__sub-list-item">
          <a href="#" class="footer__sub-list-href">
            Заявление о конфиденциальности
          </a>
        </li>

        <li class="footer__sub-list-item">
          <a href="#" class="footer__sub-list-href">
            Клиентское соглашение
          </a>
        </li>

        <li class="footer__sub-list-item">
          <a href="#" class="footer__sub-list-href">
            Политика Aml
          </a>
        </li>

        <li class="footer__sub-list-item">
          <a href="#" class="footer__sub-list-href">
            Условия использования
          </a>
        </li>
      </ul>

      <button class="footer__page-top" id="toTop">
        <img src="./img/icons/arrow-top.png" alt="top arrow" class="footer__page-top-icon">

        Вернуться на верх
      </button>
    </div>
  </section>

  <section class="footer__copy">
    <div class="footer__links-copy-wrap content">
      <img src="./img/logo-footer.png" alt="logo" class="footer__logo">

      <p class="footer__cop">
        © 2022 Project. 3 All Rights Reserved.
      </p>
    </div>
  </section>
</footer>
