<header class="header-wrap">
  <div class="header">
    <div class="header__wrap content">
      <div class="header__mid">
        <a class="header__logo-wrap" href="#">
          <img src="./img/logo.png" alt="new desing" class="header__logo-pic">
        </a>

        <p class="header__text">
          Фонд PROJECT 3 – это сочетание опыта, инноваций и непрерывное развитие
        </p>
      </div>

      <div class="header__wrap-menu-btn">
        <button class="open-menu" type="button">
          <span class="burger-btn">
            <span></span>
          </span>

          <span class="open-menu__text">
            Меню
          </span>

          <span class="open-menu__text open-menu__text--close">
            Закрыть
          </span>
        </button>
      </div>
    </div>

    <nav class="nav">
      <div class="nav__wrap content">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="./index.html" class="nav__link">
              Главная
            </a>
          </li>

          <li class="nav__item">
            <div href="#" class="nav__link nav__parent-link">
              О нас
            </div>

            <ul class="nav_submenu">
              <li class="nav_submenu-item">
                <a href="#" class="nav_submenu-link">
                  Команда PROJECT
                </a>
              </li>

              <li class="nav_submenu-item">
                <a href="#" class="nav_submenu-link">
                  Наш топ-менеджмент
                </a>
              </li>

              <li class="nav_submenu-item">
                <a href="#" class="nav_submenu-link">
                  Для клиентов
                </a>
              </li>
            </ul>
          </li>

          <li class="nav__item">
            <div href="#" class="nav__link nav__parent-link">
              Наши решения
            </div>

            <ul class="nav_submenu">
              <li class="nav_submenu-item">
                <a href="./investment-strategies.html" class="nav_submenu-link">
                  Инвестиционные стратегии
                </a>
              </li>

              <li class="nav_submenu-item">
                <a href="./consulting.html" class="nav_submenu-link">
                  Коснультирование
                </a>
              </li>

              <li class="nav_submenu-item">
                <a href="./capital-management.html" class="nav_submenu-link">
                  Управление капиталом
                </a>
              </li>


              <li class="nav_submenu-item">
                <a href="./investing-IPO.html" class="nav_submenu-link">
                  Инвестирование в IPO
                </a>
              </li>
            </ul>
          </li>

          <li class="nav__item">
            <div href="#" class="nav__link nav__parent-link">
              Наша культура и ценности
            </div>

            <ul class="nav_submenu">
              <li class="nav_submenu-item">
                <a href="./culture-and-values.html" class="nav_submenu-link">
                  Наша культура и ценности
                </a>
              </li>

              <li class="nav_submenu-item">
                <a href="./Internship.html" class="nav_submenu-link">
                  Стажировка
                </a>
              </li>

              <li class="nav_submenu-item">
                <a href="./career.html" class="nav_submenu-link">
                  Карьера
                </a>
              </li>

              <li class="nav_submenu-item">
                <a href="./destination.html" class="nav_submenu-link">
                  цели PROJECT 3
                </a>
              </li>
            </ul>
          </li>

          <li class="nav__item">
            <div href="#" class="nav__link nav__parent-link">
              Ответственное инвестирование
            </div>

            <ul class="nav_submenu">
              <li class="nav_submenu-item">
                <a href="#" class="nav_submenu-link">
                  Ответственное инвестирование
                </a>
              </li>
            </ul>
          </li>

          <li class="nav__item">
            <div href="#" class="nav__link nav__parent-link">
              Наши исследования
            </div>

            <ul class="nav_submenu">
              <li class="nav_submenu-item">
                <a href="./investigation.html" class="nav_submenu-link">
                  Наши исследования
                </a>
              </li>

              <li class="nav_submenu-item">
                <a href="./professional-analytics.html" class="nav_submenu-link">
                  Профессиональная аналитика
                </a>
              </li>
            </ul>
          </li>

          <li class="nav__item">
            <a href="#" class="nav__link">
              новости
            </a>
          </li>

          <li class="nav__item">
            <a href="./contacts.html" class="nav__link">
              Контакты
            </a>
          </li>
        </ul>

        <div class="nav__list-control">
          <ul class="list-control">
            <li class="list-control__item">
              <a href="#" class="list-control__link">
                <img src="./img/icons/pa.png" alt="ico" class="list-control__link-icon">
                Личный кабинет
              </a>
            </li>

            <li class="list-control__item">
              <div class="list-control-lang lang-select">
                <img src="./img/icons/lang.png" alt="ico" class="lang-select__icon">

                <select class="lang-select__select">
                  <option value="ru">Русский</option>
                  <option value="en">English</option>
                </select>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
