<section class="news-item">
  <a class="news-item__img-wrap" href="./news-page.html">
    <img src="./img/people.jpg" alt="news item" class="news-item__pic">
  </a>

  <div class="news-item__desc news-item__desc--padd">
    <time class="news-item__date" datetime="2001-05-15 19:00">
      00:01, 17 декабря 2021
    </time>

    <h3 class="news-item__title heading">
      <a href="./news-page.html">«Трудные времена проверяют тебя на прочность»</a>
    </h3>

    <p class="news-item__text">
      Миллиарды из США вкладывают в Россию. Как это происходит в эпоху санкций?
    </p>

    <div class="news-item__timer">
      <img src="./img/icons/timer.png" alt="time" class="news-item__img">
      3 минуты
    </div>

    <a class="news-item__btn btn financial-management__btn" href="./news-page.html">
      Читать дальше >
    </a>
  </div>
</section>
