<section class="slider2">
  <div class="slider2__wrap content">
    <h2 class="heading preview__heading slider2__sect-title">
      Следите за последними финансовыми новостями
    </h2>

    <p class="slider2__sub-title">
      Мы понимаем, что вы всегда должны быть в курсе последних событий из мира финансов. Для этого наши специалисты регулярно публикуют для вас самые актуальные и объективные новости.
    </p>

    <div class="slider2__news">
      <div class="js-slider2 owl-carousel owl-theme">
        <div class="item">
          <section class="news-item">
            <div class="news-item__img-wrap">
              <img src="./img/people.jpg" alt="news item" class="news-item__pic">
            </div>

            <div class="news-item__desc">
              <time class="news-item__date" datetime="2001-05-15 19:00">
                00:01, 17 декабря 2021
              </time>

              <h3 class="news-item__title heading">
                «Трудные времена проверяют тебя на прочность»
              </h3>

              <p class="news-item__text">
                Миллиарды из США вкладывают в Россию. Как это происходит в эпоху санкций?
              </p>
            </div>
          </section>
        </div>

        <div class="item">
          <section class="news-item">
            <div class="news-item__img-wrap">
              <img src="./img/people.jpg" alt="news item" class="news-item__pic">
            </div>

            <div class="news-item__desc">
              <time class="news-item__date" datetime="2001-05-15 19:00">
                00:01, 17 декабря 2021
              </time>

              <h3 class="news-item__title heading">
                «Трудные времена проверяют тебя на прочность»
              </h3>

              <p class="news-item__text">
                Миллиарды из США вкладывают в Россию. Как это происходит в эпоху санкций?
              </p>
            </div>
          </section>
        </div>

        <div class="item">
          <section class="news-item">
            <div class="news-item__img-wrap">
              <img src="./img/people.jpg" alt="news item" class="news-item__pic">
            </div>

            <div class="news-item__desc">
              <time class="news-item__date" datetime="2001-05-15 19:00">
                00:01, 17 декабря 2021
              </time>

              <h3 class="news-item__title heading">
                «Трудные времена проверяют тебя на прочность»
              </h3>

              <p class="news-item__text">
                Миллиарды из США вкладывают в Россию. Как это происходит в эпоху санкций?
              </p>
            </div>
          </section>
        </div>

        <div class="item">
          <section class="news-item">
            <div class="news-item__img-wrap">
              <img src="./img/people.jpg" alt="news item" class="news-item__pic">
            </div>

            <div class="news-item__desc">
              <time class="news-item__date" datetime="2001-05-15 19:00">
                00:01, 17 декабря 2021
              </time>

              <h3 class="news-item__title heading">
                «Трудные времена проверяют тебя на прочность»
              </h3>

              <p class="news-item__text">
                Миллиарды из США вкладывают в Россию. Как это происходит в эпоху санкций?
              </p>
            </div>
          </section>
        </div>
      </div>

      <div class="slider2__nav"></div>

      <div class="slider2__btn">
        <a class="btn financial-management__btn" href="#">
          Читать дальше
        </a>
      </div>
    </div>
  </div>
</section>
