<section class="slider1">
  <div class="slider1__wrap content">
    <div class="js-slider1 owl-carousel owl-theme">
      <div class="item">
        <section class="slide1">
          <img src="./img/slider1/slide1.jpg" alt="slide" class="slide1__img">

          <div class="slide1__content">
            <div class="slide1__desc">
              <h3 class="slide1__title">
                Наша амбициозная команда
              </h3>

              <p class="slide1__text">
                Каждый сотрудник PROJECT 3, начиная от топ-менеджеров и заканчивая операторами службы поддержки, работает для того, чтобы достигнуть ваших инвестиционных целей. Все сотрудники фонда высоко мотивированы и амбициозны, что позволяет нам решать даже самые сложные вопросы. Мы регулярно проводим обучающие мероприятия внутри компании и повышаем квалификацию персонала на профильных тренингах. В нашем фонде действуют программы материальной и нематериальной мотивации, что позволяет работникам всегда быть заинтересованными в личностном и профессиональном развитии.
              </p>

              <a href="#" class="slide1__btn btn purpose__btn">
                Читать дальше
              </a>
            </div>
          </div>
        </section>
      </div>

      <div class="item">
        <section class="slide1">
          <img src="./img/slider1/slide1.jpg" alt="slide" class="slide1__img">

          <div class="slide1__content">
            <div class="slide1__desc">
              <h3 class="slide1__title">
                Наше руководство
              </h3>

              <p class="slide1__text">
                С момента основания PROJECT 3 в нашей команде выросли новые управленцы, которые возглавили руководящие посты. Также в состав топ-менеджмента входят опытные сотрудники, проработавшие в сфере инвестиций от 7 лет. Это позволяет нам максимально эффективно использовать опыт и новаторские взгляды на капиталовложения.
              </p>

              <a href="#" class="slide1__btn btn purpose__btn">
                Читать дальше
              </a>
            </div>
          </div>
        </section>
      </div>

      <div class="item">
        <section class="slide1">
          <img src="./img/slider1/slide1.jpg" alt="slide" class="slide1__img">

          <div class="slide1__content">
            <div class="slide1__desc">
              <h3 class="slide1__title">
                Достижение любых инвестиционных целей
              </h3>

              <p class="slide1__text">
                В число клиентов PROJECT 3 входят как частные инвесторы, так и компании разных масштабов. Независимо от того, ктоы вы и какие инвестиционные цели ставите перед собой, мы подберем для вас наиболее эффективную программу для их достижения. У нас клиенты могут воспользоваться краткосрочными, среднесрочными и долгосрочными инвестиционными стратегиями. Мы составляем портфели для инвесторов с любыми потребностями, находим к каждому индивидуальный подход и вместе решаем все поставленные задачи.
              </p>

              <a href="#" class="slide1__btn btn purpose__btn">
                Читать дальше
              </a>
            </div>
          </div>
        </section>
      </div>

      <div class="item">
        <section class="slide1">
          <img src="./img/slider1/slide1.jpg" alt="slide" class="slide1__img">

          <div class="slide1__content">
            <div class="slide1__desc">
              <h3 class="slide1__title">
                Инвестиционные стратегии
              </h3>

              <p class="slide1__text">
                Наши специалисты обладают богатым опытом инвестирования и имеют доступ к аналитическим данным и исследованиям. Это позволяет им составлять эффективные стратегии для достижения ваших целей. Вы можете выбрать в PROJECT 3 готовые инвестиционные стратегии или обратиться к нашим специалистам для разработки индивидуальной стратегии.
              </p>

              <a href="#" class="slide1__btn btn purpose__btn">
                Читать дальше
              </a>
            </div>
          </div>
        </section>
      </div>

      <div class="item">
        <section class="slide1">
          <img src="./img/slider1/slide1.jpg" alt="slide" class="slide1__img">

          <div class="slide1__content">
            <div class="slide1__desc">
              <h3 class="slide1__title">
                Профессиональные консультации
              </h3>

              <p class="slide1__text">
                Наши финансовые консультанты помогут вам составить эффективную стратегию для достижения инвестиционных целей. При этом учитываются все ваши индивидуальные потребности, детально изучается текущее финансовое положение и рассчитывается срок достижения поставленных задач. Специалисты PROJECT 3 помогут вам:
                Составить индивидуальный финансовый план
                Спланировать инвестиционные цели
                Получить поддержку для обеспечения финансовых потребностей
                Правильно поставить цели и достичь их.
              </p>

              <a href="#" class="slide1__btn btn purpose__btn">
                Читать дальше
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="slider1__nav">
      <div class="slider1__dot"></div>
    </div>
  </div>
</section>
