@import 'preview';
@import 'content';
@import 'heading';
@import 'text';
@import 'nav';
@import 'header';
@import 'lang-select';
@import 'list-control';
@import 'under-line';
@import 'general-page';
@import 'preview-second';
@import 'about';
@import 'grid-wrap';
@import 'btn';
@import 'financial-management';
@import 'investing';
@import 'purpose';
@import 'burger-btn';
@import 'open-menu';
@import 'footer';
@import 'prev-ban';
@import 'research';
@import 'analytics';
@import 'culture-and-values';
@import 'form';
@import 'trends';
@import 'career';
@import 'internship';
@import 'slider1';
@import 'destination';
@import 'investigation';
@import 'professional-analytics';
@import 'investing-ipo';
@import 'slider2';
@import 'news-item';
@import 'cookie-panel';
@import 'disclaimer';
@import 'modal-item';
@import 'breadcrumb';
@import 'contacts';
@import 'contacts-form';
@import 'input-item';
@import 'capital-management';
@import 'consulting';
@import 'investment-strategies';
@import 'decision';
@import 'news-page';
@import 'news-list';
@import 'top-management';
@import 'clients';
@import 'about-us';
