.contacts-form {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #f9fbfb;
}

.contacts-form__wrap {
  display: flex;
}

.contacts-form__tite {
  margin-bottom: 50px;
  text-align: center;
  font-size: 15px;
  color: #515956;
}

.contacts-form__form {
  width: 50%;
  border-radius: 2px;
  background-color: #fff;
  padding: 30px 24px;
  border: 1px solid #dfe5ea;

  @include media-exsm {
    padding: 20px 15px
  }
}

.contacts-form__info {
  width: 50%;
}

.contacts-form__inputs {
  & > *:not(:last-child) {
    margin-bottom: 8px;
  }
}
