.culture-and-values__grid-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  @include media-lg {
    grid-template-columns: 1fr;
  }
}

.culture-and-values__text {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  color: #fff;
}

.culture-and-values__wrap-all {
  display: flex;
  flex-direction: column;
}

.culture-and-values__btn {
  margin: 0 auto;
}

.culture-and-values__heading {
  padding-top: 40px;

  @include media-lg {
    padding-top: 20px;
  }
}
