.form {
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  grid-template-areas:
  "form__input-1 form__input-2"
  "form__input-3 form__input-4"
  "form__input-5 form__input-5";


  @include media-exsm{
    grid-template-columns: 1fr;
    grid-template-areas:
    "form__input-1"
    "form__input-2"
    "form__input-3"
    "form__input-4"
    "form__input-5";
    padding: 0;
  }
}

.form__input-1 {
  grid-area: form__input-1;
}

.form__input-2 {
  grid-area: form__input-2;
}

.form__input-3 {
  grid-area: form__input-3;
}

.form__input-4 {
  grid-area: form__input-4;
}

.form__input-5 {
  grid-area: form__input-5;
}


.form__input {
  width: 100%;
  height: 44px;
  background-color: #fff;

  @include hover {
    opacity: 0.7;
  }
}

.form__input-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__smsll-text {
  padding-bottom: 5px;
  color: #fff;


  @include media-exsm {
    padding-top: 10px;
  }
}

.form__textarea {
  height: 78px;
}

.form__smsll-reqire {
  text-align: left;
  padding-top: 16px;
}
