.internship__previev {
  padding-top: 37px;
  padding-bottom: 60px;
}

.internship__grid-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @include media-lg {
    grid-template-columns: 1fr;
  }
}
