.list-control {
  display: flex;
}

.list-control__link {
  display: flex;
  align-items: center;
  height: 28px;
  padding: 0 16px;
  background-color: #dfe5ea;
  font-size: 14px;
  color: #006ea9;
  @include active;

  @include media-exsm {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 16px 0;
    width: 120px;
  }
}

.list-control__link-icon {
  margin-right: 7px;

  @include media-exsm {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.list-control__item:not(:last-child) {
  margin-right: 8px;
}
