.news-item {

}

.news-item__img-wrap {
  margin-bottom: 22px;
}

.news-item__pic {
  aspect-ratio: 2 / 1;
}

.news-item__date {
  display: block;
  font-size: 12px;
  color: #777777;
  margin-bottom: 24px;
}

.news-item__title {
  margin-bottom: 20px;
}

.news-item__text {
  font-size: 14px;
  color: #515956;
}

