.preview {
  text-align: center;
}

.preview__heading.preview__heading {
  margin-bottom: 20px;
  font-size: 36px;

  @include media-exsm {
    font-size: 28px;
  }
}

.preview__text-strong {
  font-weight: bold;
}
