.prev-ban {
  background-size: cover;
  background-position: center;
}

.prev-ban__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 112px;
  padding-bottom: 70px;

  @include media-exsm {
    padding-top: 70px;
  }
}

.prev-ban__btn {
  @include active;
  height: 40px;
  margin-top: 46px;

  @include hover {
    transform: scale(1.2);
  }
}

.prev-ban__main-text {
  font-size: 28px;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;

  @include media-exsm {
    font-size: 21px;
  }
}

.prev-ban__sub-text {
  width: 100%;
  max-width: 700px;
  color: #fff;
  text-align: center;
  line-height: 1.2;
  font-size: 14px;
}

.prev-ban__breadcrumbs {
  position: absolute;
  top: 50px;
  left: 15px;

  @include media-exsm {
    top: 20px;
  }
}
