.research {
display: flex;
flex-direction: column;
align-items: center;
}

.research__heading {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 29px;
  padding-top: 29px;
}

.research__text {
  color: #fff;
  padding-bottom: 43px;
}

// .research__btn-wrap {
//   color: #006ea9;
//   background-color: #fff;
// }

.research__btn {
  border-radius: 3px;
  color: #006ea9;
  background-color: #fff;
}

