.search-form {
  position: relative;
  width: 246px;
  height: 37px;
}

.search-form__input {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #006ea9;
  padding: 0 8px;
  padding-right: 34px;
}

.search-form__icon {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 21px;
  height: 21px;
}
