.trends {
  padding-top: 30px;
}

.trends__wrap {
  display: flex;

  @include media-exsm {
    flex-direction: column;
  }
}

.trends__img-wrap {
  width: 100%;
  padding-right: 32px;

  @include media-exsm {
    padding: 0;
    padding-bottom: 20px;
  }
}

.trends__img {
  @include media-md  {
    width: 100%;
  }
}

.trends__text {
  padding-top: 20px;
  padding-bottom: 20px;

  @include media-exsm {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.trends__list {
  list-style-position: inside;
}

.trends__item {
  list-style-type: none;
}

.trends__item:before {
  color: #041c44;
  content: "●";
  padding-right: 10px;
}
